@import "reset";
@import "variables/index";

body {
    font: $font-m;
    color: var(--primary-color);
}

* {
    box-sizing: border-box;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    height: calc(100vh - $navbar-height);
}
