$font-family-main: consolas, 'Times New Roman', serif;

// medium
$font-size-m: 16px;
$font-line-m: 24px;
$font-m: #{$font-size-m} / #{$font-line-m} $font-family-main;

// large
$font-size-l: 24px;
$font-line-l: 32px;
$font-l: #{$font-size-l} / #{$font-line-l} $font-family-main;

// extra large
$font-size-xl: 32px;
$font-line-xl: 40px;
$font-xl: #{$font-size-xl} / #{$font-line-xl} #{$font-family-main};

// Sizes
$navbar-height: 50px;
$sidebar-width: 240px;
$sidebar-width-collapsed: 80px;

// z-indexes
$modal-z-index: 10;

// colors
$overlay-color: rgba(0 0 0 / 60%);
$red-light: #f00;
$red-dark: #ce0505;
