.article-details {
    min-height: 100%;
}

.avatar {
    margin: 0 auto;
}

.title {
    margin-top: 20px;
}

.skeleton {
    margin-top: 8px;
}

.article-info {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 8px;
}

.avatar-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.block {
    margin-top: 16px;
}
